/****************************************/
/*  3. Header
/*****************************************/

.navbar {
    padding: 0;

    .container {
        position: relative;
        z-index: 1;
    }

    @include mobile {
        padding: 15px 0;
    }

    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;

        img {
            transition: .5s;

            @include mobile {
                max-width: 5.9375rem;
            }
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                color: $dark;
                font-size: 14px;
                padding: 30px 20px;
                line-height: 1.2;

                @include tablet {
                    padding: 20px 20px;
                }

            }

            // Dropdown Menu
            .dropdown-menu {
                position: absolute;
                top: 100%;
                z-index: 1000;
                display: none;
                min-width: 10rem;
                padding: 0;
                margin: 0;
                color: rgba(18, 18, 19, .75);
                text-align: left;
                list-style: none;
                background-color: #fff;
                box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
                background-clip: padding-box;
                border: 0;
                border-radius: 0.25rem;
                animation: zoomOut 400ms ease-in-out;

                &::after {
                    content: "";
                    display: block;
                    height: 0;
                    width: 0;
                    position: absolute;
                    top: -10px;
                    left: 25%;
                    border-left: 8px solid transparent;
                    border-right: 8px solid transparent;
                    border-bottom: 10px solid #FFF;
                }

                .dropdown-item.dropdown-toggle::after {
                    transform: rotate(-90deg);
                    right: 8px;
                    position: absolute;
                    top: 5px;
                }

                li:after {
                    content: "";
                    background: #EBEBEB;
                    display: block;
                    height: 1px;
                    width: 100%;
                }

                li:last-child:after {
                    content: "";
                    display: none;
                }

                // DropDown Items

                .dropdown-item {
                    display: block;
                    width: 100%;
                    padding: 6px 15px;
                    clear: both;
                    font-weight: 400;
                    font-size: 13px;
                    color: rgba(18, 18, 19, .75);
                    text-align: inherit;
                    text-decoration: none;
                    white-space: nowrap;
                    background-color: transparent;
                    border: 0;
                    transition: .3s;
                    &:hover,&:focus {
                        margin-left: 5px;
                        color: #c55e3e;
                        background-color: transparent;
                    }
                }
            }

            // dropdown end

            &:hover>.dropdown-menu {
                display: block;
            }


            .navbar ul li.dropdown ul.dropdown-menu li:hover>a {
                color: #c55e3e;
            }

            li.nav-item ul.dropdown-menu li.dropdown .dropdown-menu {
                left: 100%;
                top: 100%;
            }

            li.nav-item ul.dropdown-menu li.dropdown .dropdown-menu:after {
                display: none;
            }

            li.nav-item ul.dropdown-menu li.dropdown:hover>.dropdown-menu {
                display: block;
                visibility: visible;
                max-height: 999px;
                top: 0;
                opacity: 1;
                transform: translate3d(0, 0px, 0);
            }

        }

        // Nav item end

        .dropdown-toggle::after {
            display: inline-block;
            margin-left: 5px;
            vertical-align: middle;
            content: "\f107";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            border-top: transparent;
            border-right: transparent;
            border-bottom: 0;
            border-left: transparent;
        }


        /* mega menu */
        .mega-nav {
            position: static;

            ul.megamenu {
                position: absolute;
                border-radius: 10px;
                top: 120%;
                left: 0;
                background-color: #fff;
                box-shadow: 0px 2px 20px 10px rgba(0, 0, 0, .1);
                display: flex;
                width: 100%;
                max-width: 100%;
                margin: 0;
                list-style: none;
                padding: 20px 10px;
                justify-content: space-between;
                pointer-events: none;
                z-index: -1;
                @include opacity(0);
                @include transition(all, .2s, ease-out);
            }

            &:hover ul.megamenu {
                @include opacity(1);
                top: 100%;
                pointer-events: auto;
            }

        }




        ul.megamenu li.blog-item {
            overflow: hidden;
            margin: 0 10px;

            .entry-thumb {
                border-radius: 10px;
                overflow: hidden;

                img {
                    transform: scale(1);
                    @include transition();
                }
            }

            h3 a {
                font-size: 1.35rem;
            }

            &:hover {
                h3 a {
                    color: $primary;
                }

                img {
                    transform: scale(1.08);
                }
            }
        }

    }
}


.is-sticky {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(255, 221, 208, .95);
    width: 100%;
    z-index: 5;
    animation-name: is-sticky-animation;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
    animation-fill-mode: both;

    @include mobile {
        padding: 10px 15px;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        padding: 20px;
    }

    .navbar-brand img {
        height: 40px;

        @include mobile {
            height: 33.6px;
        }
    }
}

@-webkit-keyframes is-sticky-animation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-200%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes is-sticky-animation {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes zoomOut {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.header-buttons .icon-button {
    border: none;
    background: transparent;
}

button.search.icon-button i {
    margin-right: 6px;
}



.main-overlay {
    opacity: 0;
    visibility: hidden;
    filter: blur(2px);
    background: #fff;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 6;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.main-overlay.active {
    opacity: 0.6;
    visibility: visible;
}

.social-share {
    display: inline-block;

    a {
        margin: 0 5px;
        font-size: 0.875rem;
    }
}

.header-right .header-buttons {
    display: inline-block;
    margin-left: 50px;

    button {
        padding: 0;
    }
}

.search-popup {
    background: rgba(255, 255, 255, 1);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 6;
    opacity: 0;
    visibility: hidden;
}

.search-popup.visible {
    opacity: 1;
    visibility: visible;
    animation: zoomOut 500ms ease-in-out forwards;
}

.search-popup .search-content {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 650px;
    transform: translate(-50%, -50%);
}

.search-popup .btn-close {
    right: 30px;
    top: 30px;
    position: absolute;
}

.canvas-menu {
    background: $white;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 40px;
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    z-index: 6;
    transform: translateX(350px);
    transition: 0.3s;

    &.open {
        transform: translateX(0);
    }

    .btn-close {
        box-sizing: content-box;
        width: 1em;
        height: 1em;
        position: absolute;
        padding: 0.25em 0.25em;
        color: #000;
        border: 0;
        border-radius: 0.25rem;
        opacity: 0.4;
        right: 30px;
        top: 20px;
        transition: 0.3s;

        &:focus {
            outline: none;
            box-shadow: none;
        }

        &:hover {
            opacity: 1;
        }
    }

    .submenu {
        display: none;
        padding: 10px 20px;

        li {
            padding: 5px 0;

            &:after {
                content: "";
                display: none;
            }
        }

    }

    nav {
        width: 100%;
    }

    .logo {
        margin-bottom: 80px;
        margin-top: 50px;
        width: 100%;
    }
}

.vertical-menu {
    list-style: none;
    padding: 0;
    margin-bottom: 0;

    li {
        padding: 0;
        position: relative;
        list-style: none;
        transition: 0.2s;

        a {
            color: #888;
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            position: relative;
        }

        &:after {
            content: "";
            display: block;
            height: 1px;
            margin-bottom: 10px;
            margin-top: 10px;
            width: 100%;
        }

        &.active>a,
        &:hover>a {
            color: $primary;

        }

        &.active .submenu a:hover,
        &:hover .submenu a:hover {
            color: $primary;
        }
    }
}

.canvas-menu.position-left {
    left: 0;
    right: auto;
    transform: translateX(-350px);

    &.open {
        transform: translateX(0px);
    }
}


.canvas-menu .vertical-menu li .switcher {
    border: solid 1px #EBEBEB;
    border-radius: 5px;
    font-size: 10px;
    display: inline-block;
    padding: 10px;
    line-height: 1;
    cursor: pointer;
    color: #c55e3e;
    position: absolute;
    top: 0px;
    right: 0;
    transform: rotate(0deg);
    transition: 0.2s;
    -webkit-backface-visibility: hidden;
}

.canvas-menu .vertical-menu li.openmenu .switcher {
    transform: rotate(180deg);
}