/* ======================================
1.2 FONTS FOR THEME
========================================*/

body {
    font-family: $body-font;
    color: $color;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    @include heading;
}

h1,
.h1 {
    @include heading-1;
}

h2,
.h2 {
    @include heading-2;
}

h3,
.h3 {
    @include heading-3;
}

h4,
.h4 {
    @include heading-4;
}

h5,
.h5 {
    @include heading-5;
}

h6,
.h6 {
    @include heading-6;
}


a {
    color: $color;
    @include transition;
    text-decoration: none;

    &:focus,
    &:hover {
        text-decoration: none;
        @include transition;
        color: $color;
    }
}

input,
textarea {
    color: $color;
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #e0e1e5;
    background: $white;

    &:focus {
        outline: 0 none;

    }

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $border-color;
        opacity: 1;
        /* Firefox */
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $border-color;
    }

    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $border-color;
    }
}

