// FONT
$body-font: 'Roboto',
sans-serif;
$heading-font:'Baloo Da 2',
cursive;

// MY THEME COLORS 
$theme-color: green;
$color: #455359;
$brand-blue: #00415d;
$white: #fff;
$brand-light: #7e8283;
$headings-color: #282828;
$gray: #adaaaa;
$colorpink: rgb(204, 19, 164)
 
